{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Goodwriter - Sign in{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Goodwriter</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  </head>

<body>
    <form data-toggle="validator" role="form">
      <div class="form-group">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="control-label">Password</label>
        <div class="form-inline row">
          <div class="form-group col-sm-6">
          <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
          <div class="help-block">Minimum of 6 characters</div>
        </div>
          <div class="form-group col-sm-6">
            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
          </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</body>

{% endblock %}