{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Goodwriter - Sign in{% endblock %}

{% block page_content %}

<!DOCTYPE html>
<html>
  <head>
    <title>微信端素材库</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u345" class="ax_default box_1">
        <div id="u345_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u346" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u347" class="ax_default placeholder">
        <img id="u347_img" class="img " src="images/微信端素材库/u347.png"/>
        <!-- Unnamed () -->
        <div id="u348" class="text" style="visibility: visible;">
          <p><span>素材</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u349" class="ax_default button">
        <div id="u349_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u350" class="text" style="visibility: visible;">
          <p><span>素材库</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u351" class="ax_default placeholder">
        <img id="u351_img" class="img " src="images/微信端素材库/u347.png"/>
        <!-- Unnamed () -->
        <div id="u352" class="text" style="visibility: visible;">
          <p><span>素材</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u353" class="ax_default placeholder">
        <img id="u353_img" class="img " src="images/微信端素材库/u347.png"/>
        <!-- Unnamed () -->
        <div id="u354" class="text" style="visibility: visible;">
          <p><span>素材</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u355" class="ax_default placeholder">
        <img id="u355_img" class="img " src="images/微信端素材库/u347.png"/>
        <!-- Unnamed () -->
        <div id="u356" class="text" style="visibility: visible;">
          <p><span>素材</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}