{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Goodwriter - Sign in{% endblock %}

{% block page_content %}

<!DOCTYPE html>
<html>
  <head>
    <title>微信端写素材页面</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u335" class="ax_default box_1">
        <div id="u335_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u336" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u337" class="ax_default box_1">
        <div id="u337_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u338" class="text" style="visibility: visible;">
          <p><span>你好！欢迎使用fluent draft写作助手！！</span></p><p><span>你可以随意输入文本，需要添加微博上常用的话题标签##，后台就可以自动帮你分类整理好写作素材。你还可以点击下方‘素材库’查看以前写过的素材</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u339" class="ax_default placeholder">
        <img id="u339_img" class="img " src="images/微信端写素材页面/u339.png"/>
        <!-- Unnamed () -->
        <div id="u340" class="text" style="visibility: visible;">
          <p><span>输入素材</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u341" class="ax_default icon">
        <img id="u341_img" class="img " src="images/微信端写素材页面/u341.png"/>
        <!-- Unnamed () -->
        <div id="u342" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u343" class="ax_default button">
        <div id="u343_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u344" class="text" style="visibility: visible;">
          <p><span>素材库</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}